<div class="container">
	<div class="col-md-12" style="height: 440px;">
		<div class="col-md-6">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Precio</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in selectedArticles" style="cursor: pointer;" ng-mouseenter="crossColor={color:'black'}" ng-mouseleave="crossColor={color:'white'}">
						<td>{{ article.nombre }}</td>
						<td>{{ article.precio | currency }}</td>
						<td ng-click="removeFromSelectedArticles(article)"><span ng-style="crossColor" style="color: white;">x</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="search"></label>
				<input id="search" class="form-control" type="text" placeholder="Buscar" ng-model="searchProduct"></input>
			</div>
			<div class="list-group">
				<a ng-repeat="article in articles | filter: { nombre: searchProduct }" class="list-group-item" style="cursor: pointer;" ng-click="addToSelectedArticles(article)">
					<h4 class="list-group-item-heading">{{ article.nombre }}</h4>
					<p class="list-group-item-text">{{ article.precio | currency : '$' : 2 }}</p>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<span>Total: {{ totalPrice | currency : '$' : 2 }}</span>
		<br></br>
		<button type="submit" class="btn btn-primary">Enviar</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
		<br></br>
	</div>
</div>